.navbar-logo {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 20px; 
}


/*TAKE NOTE THE LINEAR GRADIENT ENABLES THE BACKGROUND IMAGE TO BE A LITTLE DARKER*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),  rgba(0,0,0,0.7)), url(../img/header.jpg);
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    
    
}
.navbar-toggler {
    color: white;
}
.showcase {
    color: white;
    font-family: 'Courgette', cursive;
    font-style: italic;
    text-align: center;
}
h3 {
    font-family: 'Courgette', cursive;
}
h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    
}
